#root {
    min-height: 100vh;
    display: flex;
    min-width: 0;
    width: 100%;
    height: 100%;
}

.loader {
    margin: auto;
    width: 50px;
    height: 50px;
}

.circular-loader {
    animation: rotate 2s linear infinite;
}

.loader-path {
    fill: none;
    stroke-width: 3px;
    animation: animate-stroke 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-stroke {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke: #7352C7;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
        stroke: #7352C7;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
        stroke: #7352C7;
    }
}

.screen-title {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f49703 !important;
}

.container-with-label {
    border: 1px solid;
    border-radius: 0.1rem;
    padding:10px;
    padding-top: 20px !important;
    margin-bottom:1rem;
  }
  
  .container-with-label > span{
    position: relative;
    cursor: text;
    font-size: 100%;
    font-weight:400;
    opacity: 1;
    top: -1.7rem;
    z-index: 3;
    line-height: 1;
    padding: 0 1px;
    /* color: rgba(58, 58, 58, 0.7); */
    display: flex;
    width: fit-content;
  }
  
  .container-with-label > span::after{
    content: ' ';
    display: block;
    position: absolute;
    height: 5px;
    top: 3px;
    left: -0.2em;
    right: -0.2em;
    z-index: -1;
    /* background: white !important; */
  }